<td>{{sub_domain}}</td>
<td>{{type}}</td>
<td>{{line}}</td>
<td>{{value}}</td>
<td>{{mx}}</td>
<td>{{ttl}}</td>
<td>
  <span>
    <button class="delete btn btn-sm btn-danger" data-id='{{id}}'>删除</button>
  </span>
</td>
