<div class="row entry">
  <span><a href='/!/domains/{{id}}/records'>{{name}}</a></span>
  <span><button class='edit btn btn-warning' data-id={{id}} data-next-status={{next_status}}>{{button_text}}</button></span>
  <span><button class='delete btn btn-danger' data-id={{id}}>删除</button></span>
</div>
